# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/inspectionProfiles/
.idea/vcs.xml
venv/Include/
Basic_Python/chapter9/__pycache__/
Basic_Python/objectDmeo/__pycache__/
auto_python_demo/autoDemo/testJson.txt
rfresh_Python/Import_demo/file_directory/__pycache__/



